<div ng-controller="BangleCtrl">
	<div style="background-color:#0080FF;min-height: 300px; text-align: center;font-size: 500%; border : 1px solid black;" ng-click="getVibration()">
		Get vibrations
		<div style="font-size: 50%;"> Vibs standing : {{vibrations}}</div>
	</div>

	<div style="background-color:#6666FF;min-height: 300px; text-align: center;font-size: 300%; border : 1px solid black;" ng-click="sendVibration()">
	 Send Vibrations to associated
	 	<div style="font-size: 50%;"> Vibs sent : {{vibrationsSent}}</div>
	</div>


	<div style="background-color:#CC0000;min-height: 300px; text-align: center;font-size: 300%; border : 1px solid black;" ng-click="deconnection()">
	 Deconnection
	</div>
</div>

