
       <!--  <div class="app">
            <h1>Apache Cordova</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
        </div> -->
        <div ng-controller="MainCtrl">
           <!--  <form>
                First Name: <input type="text" ng-model="firstname">
                Last Name: <input type="text" ng-model="lastname"

            </form>
             <button ng-click="connection()">Connection</button> -->


            <form class="pure-form pure-form-stacked">
            <legend style="font-size:500%;" ><strong>Connection</strong></legend>
            <table style="font-size:500%">
                <tr>
                    <td><label for="text">Email</label></td>
                </tr>
                <tr>
                    <td><input id="text" type="text" placeholder="Email" ng-model="email" style="min-height:200px;font-size:60%"></td>
                </tr>
                <tr>
                    <td><label for="text">Password</label></td>
                </tr>
                <tr>
                    <td><input id="text" type="password" placeholder="Password" ng-model="password" style="min-height:200px;font-size:60%"></td>
                </tr>
            </table>
            <button type="submit" class="pure-button pure-button-primary" ng-click="connection()" style="min-height:200px;min-width: 100%;">Sign in</button>

    </form>


        </div>